.changing-divs {
    border:#000 1px solid;
    width:100%;
    height:300px;
    background-color: inherit;
}

.margin-top-20 {
    margin-top:20px;
}

.div1 {}
.div2 {}
.div3 {}
.div4 {}
.div5 {}
.div6 {}





.big-div {
  height:400px;
}

.small-div {
  height:120px;
}


/*.animation {
  -ms-transform: rotate(7deg); /* IE 9 */
    /*-webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    /*transform: rotate(7deg);*/

    /*transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    width: 50px;
    height: 50px;
    background-color: blue;*/
    /*-webkit-transition-property: width height background-color font-size left top transform -webkit-transform color;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: width height background-color font-size left top transform -webkit-transformv color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;*/
